@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,700&display=swap');

$colorDorado: #ffc107;
$colorBlanco: #fff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-size: cover;
    background-color: #fbede0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}



/* navbar */
nav {
    background-color: #fbede0;
    border-bottom: 1px solid #59393E;
    border-top: 1px solid #59393E;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.nav-item {
    margin: 0 70px;
}


.button_5mm_container {
    @extend .nav-item;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light {
    color: #59393E;
}

.navbar .navbar-nav .nav-link:hover {
    color: $colorDorado;
}

.despegable_navbar:hover {
    color: #ffc107;
}

.iconoBarra {
    width: 80px;
    height: 80px;
    position: relative;
    left: 70px;
}




/* index */

.index {
    margin: 50px 0;
    justify-content: space-between;
}

.imgindex1{
    width: 1000px;
    height: 500px;
}
.hero{
    display: flex;
    margin: 120px 0;
}
.text_div{
    padding: 150px;
}
.h1_index{
    font-size: 50px;
    font-weight: bolder;
    color: #59393E;
}

iframe{
    display: block;
    margin: auto;
}
.container{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* Pagina Contacto */

$colores_contacto:(
    negro: #17161Dff,
    celeste: #81b5be,
    blanco: #fff,
);


@mixin textoo-size($h,$w) {
    height: $h;
    width: $w;
}

.main_contacto {
    display: flex;
    height: 600px;
    justify-content: center;
    margin: 100px 0px;
}

.textoo {
    @include textoo-size(600px,600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding: 0 30px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.h3_contact {
    padding-bottom: 20px;
}

.text--t1 {
    font-size: 30px;
}

.text--t2 {
    padding: 10px 0;
    font-size: 17px;
}

.text--t3 {
    font-size: 17px;
    list-style: none;
}

.textoo h3 {
    font-style: bolder;
}

.formulario_contacto {
    border: none;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}


fieldset .letras input {
    width: 300px;
    height: 50px;
    background-color: #fff;
    margin: 15px 0;
    display: flex;
    text-align: start;
}

.letras .item4 {
    height: 100px;
}

.opcional_titulo {
    color: black;
    font-size: 15px
}
.opcional {
    color: black;
    font-size: 17px;
}

.boton_contacto {
    border: 1px solid black;
    color: black;
    width: 75px;
    height: 30px;
    font-size: 15px;
    margin-top: 8px;
    transition: 0.7s;
    border-radius: 5px;
}
.boton_contacto:hover{
    background-color:#ffc107;
}
::placeholder{
    font-size: 18px;

}

/* Pagina Contacto */
/* Nosotros */
.foto-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.grid-nosotros {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 3px;
    padding-top: 30px;
    grid-auto-flow: dense;
}

.foto3 {
    background-image: url(../assets/nosotros/15fd8fa6aa4685aa56776e09dad9adb1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.parrafonosotros {
    text-decoration: solid;
    color: black;
    margin: 50px 0 20px 0;
    padding: 40px;
    text-align: center;
    font-weight: bold;
}
.mercadolider_contenedor{
    display: flex;
    padding: 0 200px;
}
.parrafonosotros2{
    display: flex;
    text-decoration: solid;
    color: grey;
    margin: 50px 0 20px 0;
    padding: 40px;
    justify-content: center;
    flex-direction: column;
}


.tituloNosotros {
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 30px;
    color: #59393E;
}

.itemsNosotros {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemsNosotros li {
    text-decoration: none;
    list-style: none;
    margin: 50px;
    text-align: center;
}

.textt {
    background: radial-gradient(circle, rgba(245, 220, 200, 1) 0%, rgba(240, 220, 202, 1) 30%, rgba(251, 237, 224, 1) 61%);
    height: 200px;
    width: 400px;
    font-size: 30px;
    border-radius: 10px;
}

.mercadoplatinum {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Nosotros */

/* 3MM */

.tresmm{
    padding: 0 200px;
}
.item-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 1px white;
}

.grid_3mm {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 300px 300px;
    grid-template-areas: "itemm0 itemm0 itemm1 itemm2"
        "itemm0 itemm0 itemm3 itemm4";
    gap: 60px;
    margin-top: 100px;
    padding-left: 200px;
}
.main_3mm{
    margin-top: 100px;
    justify-content: space-between;
    
}
.texto_3mm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h1_3mm{
    font-weight: bolder;
    color:#57393d;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.h1_3mm_dos{
    font-weight: bolder;
    color:#57393d;
    font-size: 35px;
}
.link_3mm{
    text-decoration: none;
    color: none;
    font-weight: bold;
    color: #ffc107;
    transition: 0.5s;
}
.link_3mm:hover{
    color: #ffc107a5;
}
.carrusel_contenedor{
    width: 1500px;
}
.w-100{
    height: 846px;
}
.main_3mm_2do{
    display: flex;
    margin: 100px 0;
}
.velador_wrapper{
    position: relative;
    width: 1700px;
}
.velador_wrapper img{
    width: 100%;
    height: 100%;
}
.ez2{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.4s ease;
}

.ez2:hover{
    opacity: 1;
}
.parrafo_3mm{
    padding-right: 300px;
    margin-bottom: 20px;
}
.lista_3mm{
    padding-left: 40px;
    margin: 30px 0;
}


.titulo_3mm {
    margin-top: 120px;
    text-align: center;
}


.itemm1_text{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 4px #59393E;
}
.itemm2_text{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 4px #59393E;
    }
.itemm3_text{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 4px #59393E;
}
.barra_divisora{
    color: white;
    text-align: center;
    background-color: #59393E;
    margin: 50px 0;
}

/* 5MM */

.mm5_top {
    margin: 100px 0;
    display: flex;
    background-color: #59393E;
    padding: 0 200px;
    justify-content: space-around;
}
.parrafo1_5mm{
    font-size: 45px;
    color: white;
    text-align: center;
}
.parrafo2_5mm{
    font-size: 30px;
    color: grey;
    text-align: center;
}
.grid_5mm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px;
    column-gap: 20px;
    row-gap: 60px;
    margin: 100px 0;
    place-items: center;
}
.producto_5mm{
    position: relative;
    box-shadow: 5px 8px #57393d;
    width: 428px;
    color: #fff;
}
.producto_5mm > .content {
    position: absolute;
    inset: 0;
    font-size: 27px;
    font-weight: bolder;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: end;
    width: 429px;
}

.img_5mm2{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.img_5mm2:hover{
    opacity: 1;
}
.producto_5mm > .img_5mm,
.producto_5mm > .content {
    transition: 200ms ease-in-out;
}
.producto_5mm >.content.fade {
    opacity: 0;
}
.producto_5mm:hover >.content.fade {
    opacity: 1;
}
.contactanos_5mm{
    font-size: 24px;
}
.contactanos5mm_wrapper{
    display: flex;
    justify-content: center;
}
/* 5MM */


/* footer */

footer {
    border-top: 0.5px solid #b0ada8;
    margin-top: 75px;
    color: black;
}

footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: black;
    padding: 40px;
}

footer .social a {
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social a:hover {
    opacity: 0.9;
}

footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover {
    opacity: 1;
}

footer .copyright {
    margin-top: 20px;
    background-color: #b0ada8;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.copyright_texto {
    font-size: 12px;
    position: relative;
    top: 5px;
}

@media (max-width: 480px) {
    .iconoBarra {
        width: 80px;
        height: 80px;
        position: relative;
        left: 115px;
        margin-bottom: 5px;
    }
    .navbar-collapse{
        padding-left: 120px;
    }
    .nav-link{
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
    }
    .hero{
        flex-direction: column;
        margin: 0;
    }
    .h1_index{
        padding-right: 45px;
    }
    .h1_index2{ 
        padding-right: 45px;
    }
    .imgindex1{
        margin: 50px 0;
        width: 410px;
        height: 250px;
    }
    .text_div{
        padding: 0 5px;
        margin-top: 30px;
        text-align: center;
    }
    .tresmm{
        padding: 0 10px;
    }
    .main_3mm{
        flex-direction: column;
        margin-top: 50px;
    }
    .texto_3mm{
        display: flex;
        padding: 0 10px;
        align-items: center;
    }
    .ss{
        padding: 0 10px;
        
    }
    .parrafo1_3mm{
        padding: 0;
    }
    .carrusel_contenedor{
        width: 100%;
        padding: 0 10px;
    }
    .w-100{
        height: 350px;
    }
    .main_3mm_2do{
        flex-direction: column;
        margin: 0;
    }
    .parrafo_3mm{
        padding: 0;
        margin: 0;
    }
    .ancor_3mm{
        position: relative;
        top: 410px;
    }
    .velador_wrapper{
        width: 100%;
    }
    .mm5_top{
        flex-direction: column;
        padding: 0;
        margin-top: 35px;
    }
    .parrafo1_5mm{
        font-size: 18px;
    }
    .parrafo2_5mm{
        font-size: 15px;
    }
    .grid_5mm { 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px;
        column-gap: 0px;   
        margin: 100px 0;
        align-items: center;
    }
    .contactanos5mm_wrapper{
        text-align: center;
    }
    .contactanos_5mm{
        font-size: 22px;
    }
    .producto_5mm{
        position: relative;
        box-shadow: 5px 8px #57393d;
        width: 365px;
        color: #fff;
    }
    .img_5mm{
        height: 300px;
    }
    .content{
        width: 366px !important;
    }
    .main_contacto {
        display: flex;
        flex-direction: column;
        margin: 345px 0px;
        padding: 0 6px;
    }
    .formulario_contacto {
        width: 100%;
        padding: 50px;
        border: 1px solid black;
    }
    .textoo {
        width: 100%;
        padding: 50px;
        border: 1px solid black;
    }
    .h3_contacto{
        text-align: center;
    }
    .text--t2{
        text-align: center;
    }
    .text--t3{
        text-align: center;
    }
    .tituloNosotros {
        display: flex;
        flex-direction: column;
        font-size: 25px;
    }
    .parrafonosotros {
        font-size: 16px;
    }
    .parrafonosotros2{
        margin: 0px;
        padding: 30px;
    }
    .mercadolider_contenedor{
        flex-direction: column;
        padding: 0px;
    }
    ul li a {
        font-size: 15px;
        margin: 0 10px;
    }



    .grid_3mm {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 0px;
        padding-left: 0px;
        align-items: center;
        justify-content: center;
    }

    .itemm0 {
        padding: 30px;
        font-size: 14px;
    }

    .item-grid {
        background-color: #03afff;
        border-radius: 4px;
        border: solid 1px white;
        width: 250px;
        height: 200px;
        margin: 20px 0;
    }

    .agregar_carrito {
        position: relative;
        top: 117px;
        border: none;
        width: 160px;
        height: 25px;
        font-size: 15px;
        margin: 10px 0;
    }
    .img1 {
        height: 300px;
    }

    .img2 {
        height: 150px;
    }

    .img3 {
        height: 200px;
    }

    .dropdown-menu {
        font-size: 12px;
    }

    .despegable_navbar {
        font-size: 15px;
    }

    .nav-item {
        margin: 0 0px;
    }

    .button_5mm_container {
        margin: 0 0px;
    }

    .itemsNosotros {
        display: flex;
        flex-direction: column;
    }

    .tituloNosotros {
        text-align: center;
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 30px;
    }

    .itemsNosotros {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .itemsNosotros li {
        text-decoration: none;
        list-style: none;
        margin: 50px;
        text-align: center;
    }

    .textt {
        height: 100px;
        width: 300px;
        font-size: 22px;
    }

    .mercadoplatinum {
        width: 220px;
    }

    iframe {
        width: 100%;
        height: 300px;
        padding: 0 5px;
    }
}

@media (min-width: 480px) {
    .foto1 {
        grid-column: span 2;    
        grid-row: span 2;
    }

    .foto4 {
        grid-row: span 2;
    }

    .foto5 {
        grid-column: span 2;
    }
}





@media screen and (min-width: 992px) and (max-width: 1200px){
    .navbar-nav{
        font-size: 18px;
    }
    .nav-item{
        margin: 0px 30px;
    }
    .iconoBarra{
        left: 15px;
    }
    .hero{
        margin: 0px;
        flex-direction: column;
    }
    .text_div{
        text-align: center;
        padding: 0px;
        margin: 80px 0;
    }
    .imgindex1{
        width: 1000px;
        height: 500px;
        margin-bottom: 50px;
    }
    iframe{
        width: 950px;
    }


    .tresmm{
        padding: 0 10px;
    }
    .texto_3mm{
        font-size: 18px;
    }
    .main_3mm_2do{
        margin: 0px 0;
    }
    .parrafo1_3mm{
        padding-right: 0px;
    }
    .parrafo_3mm{
        font-size: 18px;
        padding-right: 66px;
    }
    .lista_3mm{
        font-size: 18px;
    }
    .ancor_3mm{
        font-size: 18px;
    }


    .mm5_top{
        margin: 50px 0;
    }
    .parrafo1_5mm{
        font-size: 24px;
    }
    .parrafo2_5mm{
        font-size: 18px;
    }
    .grid_5mm{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 350px 350px;
    }











    /*nosotros*/
    .itemsNosotros{
        padding: 0px;
    }
    .itemsNosotros li{
        margin: 0px;
    }
    .textt{
        font-size: 25px;
        width: 270px;
        margin: 10px 30px;
    }
    .mercadolider_contenedor{
        padding: 0px;
    }
    .mercadoplatinum{
        width: 320px;
        height: 300px;
    }
    /*nosotros*/

    .main_contacto {
        display: flex;
        flex-direction: row;
        margin: 100px 0px;
        padding: 0 10px;
    }
    .formulario_contacto {
        width: 100%;
        padding: 50px;
        border: 1px solid black;
    }
    .textoo {
        width: 100%;
        padding: 50px;
        border: 1px solid black;
    }
    .h3_contacto{
        text-align: center;
    }
    .text--t2{
        text-align: center;
    }
    .text--t3{
        text-align: center;
    }
}